@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1024px) {
    .bg-main{
        background-image: url("/assets/images/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 640px) {
    .bg-main{
        background-color: #019c48;
        height: 80vh;
    }
}

.menu-title:after {
    display:block;
    content: '';
    border-bottom: solid 4px #019c48;  
    transform: scaleX(0);  
    transition: all 300ms ease-in-out;
}
.menu-title:hover:after { transform: scaleX(1); }
.menu-title:after{  transform-origin:  0% 100%; }